@import "../../styles/index";

.button {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: $color-theme;
  border: 1px ridge $color-theme-rock;
}

.button.button--text {
  @include type($font-weight: 700);
  @include shape('rounded');
  width: 100%;
  padding: 0 16px;
  color: $color-theme-inverted;
  text-align: center;
}

.button.button--icon {
  @include shape('round');
  width: 40px;

  path {
    fill: $color-theme-inverted;
  }
}

.button:hover .no-hover {
  display: none;
} 

.button .hover-text {
  display: none;
}

.button:hover .hover-text {
  display: inline;
}