@keyframes animate {

  0% {
    transform: 
    translateZ(0)
    rotateY(0)
    translateX(0)
    translateY(0)
  };

  100% {
    transform: 
    translateZ(160px)
    rotateY(180deg)
    translateX(100%)
    translateY(-500px)
  };
}

.dino {
    animation: animate 6s;
    animation-direction: reverse;
}
